.routesOuterGrid {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgrey;
    gap: 1px;
}

.routesInnerGrid {
    // display: flex;
    // grid-template-columns: 5% 70% 15%;
    grid-gap: 6px;
    padding: 5px;

    // align-self: baseline;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: end;
    &-icon {
        align-self: center;
    }
    .largerText {
        font-size: large;
        font-weight: 600;
    }
    &.smallerText {
        font-size: smaller;
        font-weight: 400;
    }
    .circleIcon {
        &-high {
            color: red;
        }
        &-low {
            color: yellow;
        }
    }
    .arrowIcon {
        font-size: 20px;
        transform: scaleY(1.5);
        color: grey;
    }
}
