@import '../../assets/Variables.scss';
.routesOuterGrid {
    display: flex;
    flex-direction: column;
    border-bottom: 0.0313rem solid $grey2;
    gap: 0.0625rem;
}

.routesInnerGrid {
    grid-gap: 0.375rem;
    padding: 0.3125rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: end;
    &-icon {
        align-self: center;
    }
    .largerText {
        font-size: large;
        font-weight: 600;
    }
    &.smallerText {
        font-size: smaller;
        font-weight: 400;
    }
    .circleIcon {
        &-high {
            color: $red;
        }
        &-low {
            color: $yellow;
        }
    }
    .arrowIcon {
        font-size: 1.25rem;
        transform: scaleY(1.5);
        color: $grey1;
    }
}
