.weather {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 0.9375rem;

    &__current {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        grid-gap: 0.625rem;
        &__icon {
            width: 80%;
            height: 80%;
        }
        &__item {
            text-align: center;
            &--bold {
                font-size: xx-large;
                font-weight: 600;
            }
        }
    }
    &__details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.875rem;
        align-items: center;
        padding: 0 1.25rem;
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            line-height: 1.5rem;
            &--bold {
                font-size: larger;
                font-weight: 600;
            }
        }
    }
}
