@import '../../assets/Variables.scss';
.sidebar {
    width: 25%;
    border: 0.0313rem solid  $grey1;
    padding: 0.3125rem;
    background-color: $black1;
    color: $grey1;
}
.bright{
    color: $white1;
}
