// Colors
$black: #000000;
$black1: #0b0b0d;
$white: #ffffff;
$white1: #b0b6b0;
$grey1: #707177;
$grey2: #222935;
$grey3: #12161d;
$blue1: #3b807c;
$blue2: #5dc8be;
$red: #ff0000;
$yellow: #ffff00;

//
$md: 768px;
$sm: 600px;
