@import '../../assets/Variables.scss';
.accordion {
    padding: 0.3125rem;
    border: 0.0313rem solid $grey2;
    margin: 0.9375rem;
    background-color: $grey3;
}

.accordion__header {
    font-size: large;
    padding: 0.3125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;

    &--active {
        border-bottom: 0.0313rem solid $grey2;
    }
}

.accordion__content {
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
    margin: 0.9375rem;
    transition: opacity 1s ease-out;

    &--hidden {
        display: none;
        opacity: 0;
    }
}
